@model  studentCourseProj.Models.MultipleModel


<style type="text/css">
    .Submit {
        width: 300px;
        padding: 5px;
        margin: 15px;
    }
</style>


<div class="jumbotron">
    <h1>Student Courses</h1>
    <p class="lead">Scroll the dropdowns and choose</p>
    <div class="row">
        <p><a href="http://localhost:53976/Student/Index" class="btn btn-primary btn-lg">Add Student &raquo;</a></p>
        <p><a href="http://localhost:53976/Course/Index" class="btn btn-primary btn-lg">Add Course &raquo;</a></p>
    </div>
</div>
@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>*@

<div style="width:80%">

    @using (Html.BeginForm("postSelected", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <h2>Student</h2>
                <div class="col-lg-6">

                    @Html.DropDownListFor(model => model.StudentId, ViewBag.StudentList as SelectList, "--Select Student --", new { @class = "form-control" })

                </div>
            </div>

            <div class="col-md-6">
                <h2>Course</h2>
                <div class="col-lg-6">

                    @Html.DropDownListFor(model => model.CourseId, ViewBag.CourseList as SelectList, "--Select Course--", new { @class = "form-control" })


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-6">

                    <input type="submit" value="submit" class="Submit" />

                </div>
            </div>
        </div>

    }

</div>


@*<table class="table table-bordered table-responsive table-hover">
    <tr>

        <th>First Name </th>
        <th>Last Name </th>
        <th>CourseName</th>
        <th>StartDate</th>
        <th>EndDate</th>

    </tr>
    @foreach (var d in Model)
    {
        <tr>

            <td>@d.FirstName</td>
            <td>@d.Surname</td>
            <td>@d.CourseName</td>
            <td>@d.StartDate</td>
            <td>@d.EndDate</td>


        </tr>
    }
</table>*@  